.links .icons {
  transition: opacity 0.3s ease;
  opacity: 1;
}

.links:hover .icons {
  opacity: 0;
}

.texts {
  font-size: 15px;
  font-weight: normal;
  margin-left: 10px;
}

@media (max-width: 1025px) {
  .texts {
    font-size: 13px;
  }

  .links {
    margin-left: 10px;
  }
}