.text {
    font-size: 18px;
    font-weight: normal;
    margin-left: 10px;
}

.logo {
    font-size: 23px;
}

@media (max-width: 768px) {
    .text {
        font-size: 15px;
        margin-left: 5px;
    }

    .logo {
        font-size: 20px;
    }
}